/* ------ GOOGLE FONTS ------ */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* ------ RESET  ------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  Font-size: 1rem;
  Color: #00bbbb;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-content {
  display: flex;
  flex-wrap: wrap;
}
footer .footer-secondary {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
footer .footer-secondary .isologo-footer {
  border-radius: 10px;
  margin-top: 40px;
  margin-left: 20px;
}
footer .footer-secondary .text-footer {
  color: #00bbbb;
  font-size: medium;
  margin-top: 60px;
  padding: 15px;
}
footer .footer-secondary .li-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  list-style: none;
}
footer .footer-secondary .li-1 {
  color: #00bbbb;
  font-weight: normal;
  text-align: center;
  margin: 3px 20px;
}

/* ------ SECTION HOME ------ */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00bbbb;
}
nav:hover {
  color: #B2D9D8;
}
nav .isologo-home {
  margin-top: 15px;
  border-radius: 10px;
  margin-left: 15px;
  width: 170px;
  align-self: start;
  margin-top: auto;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  margin-left: auto;
}
nav li {
  List-style-type: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-style: normal;
  Font-size: 1rem;
}
nav ul li {
  padding: 10px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
}
nav .nav-link {
  color: #fff;
}
nav .nav-link:hover {
  color: #B2D9D8;
}
nav .button-ingresar {
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
}
nav .button-ingresar .person {
  margin-right: 8px;
  margin-bottom: 4.5px;
}
nav .button-ingresar:hover {
  color: #fff;
  background-color: #B2D9D8;
}

.wave-content {
  background-image: url("../assets/background-wave.png");
  height: 510px;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-between;
  flex-wrap: wrap;
}
.wave-content .ilustracion-home {
  margin-top: 154px;
}
.wave-content h1 {
  font-size: 3rem;
  Color: #fff;
  Font-family: "Roboto", sans-serif;
  Font-style: normal;
  font-weight: bolder;
}
.wave-content .titulo-h1 {
  align-self: center;
  margin-top: 50px;
  margin-left: 30px;
}
.wave-content p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  Font-size: 2rem;
  Color: #fff;
}
.wave-content .texto-2 {
  align-self: flex-end;
  margin-left: 30px;
}

.text-button-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.text-button-content .text-body {
  color: #000000;
  font-size: 2rem;
  margin-top: 120px;
  margin-left: 20px;
}
.text-button-content .button-demo {
  background-color: #00bbbb;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 10px;
  margin-top: 30px;
  margin-left: 20px;
  color: #fff;
  font-weight: bolder;
  font-size: 1rem;
}
.text-button-content .button-demo:hover {
  color: #666;
  background-color: #B2D9D8;
}

/* ------ SECTION PREGUNTAS FRECUENTES ------ */
.nav-faq {
  color: #00bbbb;
}

.nav-faq-1 {
  color: #000000;
}
.nav-faq-1:hover {
  color: #B2D9D8;
}

.main-faq {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main-faq .h1-faq {
  font-size: 3rem;
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: bolder;
  color: #000000;
  margin-top: 100px;
  margin-left: 20px;
}
.main-faq .h2-faq {
  color: #00bbbb;
  font-size: 2rem;
  margin-top: 30px;
  margin-left: 20px;
}
.main-faq .ol-content {
  margin-top: 80px;
  margin-bottom: 70px;
  padding: 20px;
}
.main-faq .ol-content ul {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  Font-size: 1.5rem;
  Color: #000000;
  padding-left: 0;
  list-style: none;
}
.main-faq .ol-content li {
  margin-top: 20px;
}
.main-faq .ol-content .a-2 {
  text-decoration: none;
  color: #000000;
  font-size: 1.5rem;
  font-weight: normal;
}
.main-faq .ol-content .plus-circle {
  color: #00bbbb;
}
.main-faq .ol-content .uno {
  color: #00bbbb;
}
.main-faq .ilustracion-content {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.main-faq .ilustracion-content .ilustracion-faq {
  height: 600px;
  margin-top: 50px;
}

/* ------ SECTION NOSOTROS ------ */
.nav-nosotros {
  color: #000000;
}
.nav-nosotros:hover {
  color: #B2D9D8;
}

.nav-nosotros-1 {
  color: #00bbbb;
}

.main-nosotros {
  display: flex;
  background-size: cover;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main-nosotros .h1-nosotros {
  font-size: 3rem;
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: bolder;
  color: #000000;
  margin-top: 100px;
  margin-left: 20px;
}
.main-nosotros .h2-color {
  color: #00bbbb;
  margin-left: 20px;
  padding-top: 30px;
}

.p-nosotros {
  color: #000000;
  font-size: 1.3rem;
  margin-left: 20px;
  margin-bottom: 50px;
}

/* ------ SECTION CONTACTO ------ */
.navegable {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
}
.navegable .isologo-blanco {
  margin: 20px;
}
.navegable .nav-contacto {
  color: #000000;
}
.navegable .nav-contacto:hover {
  color: #B2D9D8;
}
.navegable .nav-contacto-1 {
  color: #00bbbb;
}
.navegable .ingresar-cont {
  border: 1px solid #00bbbb;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  color: #00bbbb;
}
.navegable .ingresar-cont .person-1 {
  margin-bottom: 4.5px;
  margin-right: 5px;
}
.navegable .ingresar-cont:hover {
  background-color: #B2D9D8;
}

.main-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main-content .titulo-cont {
  font-size: 3rem;
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: bolder;
  color: #000000;
  margin-top: 100px;
  margin-left: 20px;
}
.main-content .motivo {
  font-size: 2rem;
  color: #666;
  padding: 20px;
  margin-top: 100px;
}
.main-content .button-opcion {
  background-color: #999999;
  border: 1px solid #666;
  border-radius: 10px;
  padding: 10px 150px;
  color: #666;
  font-weight: bolder;
  font-size: 0.8rem;
  margin-left: 20px;
  margin-bottom: 50px;
}
.main-content .button-opcion:hover {
  color: #bbbbbb;
}
.main-content .ilustracion-contacto {
  height: 600px;
}

/* ------ SECTION AYUDA ------ */
.nav-ayuda {
  color: #000000;
}
.nav-ayuda:hover {
  color: #B2D9D8;
}

.nav-ayuda-1 {
  color: #00bbbb;
}

.main-ayuda {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main-ayuda .h1-ayuda {
  font-size: 3rem;
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: bolder;
  color: #000000;
  margin-top: 100px;
  margin-left: 20px;
}
.main-ayuda .h3-buscar {
  color: #666;
  margin-bottom: 40px;
  margin-left: 20px;
}
.main-ayuda .lupa {
  width: 10px;
  height: 10px;
}
.main-ayuda .ilustracion-ayuda {
  width: 500px;
}
.main-ayuda .button-opcion-ayuda {
  background-color: #999999;
  border: 1px solid #666;
  border-radius: 10px;
  padding: 10px 150px;
  color: #666;
  font-weight: bolder;
  font-size: 0.8rem;
  margin-left: 20px;
  margin-bottom: 50px;
}
.main-ayuda .button-opcion-ayuda:hover {
  color: #bbbbbb;
}/*# sourceMappingURL=styles.css.map */