/* ------ GOOGLE FONTS ------ */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* ------ RESET  ------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$CelestePrimario: #00bbbb;
$CelesteSecundario: #B2D9D8;
$BlancoAcento: #fff;
$Negro: #000000;

html {
    font-size: 62,5%;
    body {
        font-family: "Roboto", sans-serif;
        nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $CelestePrimario;
            .isologo-home {
                margin-top: 15px;
                border-radius: 10px;
                margin-left: 15px;
                width: 170px;
                align-self:start;
                margin-top: auto;
            }
            ul {
                list-style: none;
                display: flex;
                justify-content: center;
                align-items:center;
                margin: 5px;
                margin-left: auto;
            }
            li {
                List-style-type: none;
                font-family: "Roboto", sans-serif;
                font-weight:bold;
                font-style: normal;
                Font-size: 1rem;
            }
            ul li{
                padding: 10px;
            }
            ul li a{
                text-decoration: none;
                color: $BlancoAcento;
            }
            .nav:hover > a {
                color: $CelesteSecundario;
            }
            .button-ingresar{
                border: 1px solid $BlancoAcento;
                border-radius: 10px;
                padding: 10px;
                margin: 20px;
            }
            .person {
                margin-right: 8px;
                margin-bottom: 4.5px;
            }
            .button-ingresar:hover{
                color: $BlancoAcento;
                background-color: $CelesteSecundario;
            }
        }
        .wave-content {
            background-image: url("../assets/background-wave.png");
            height: 510px;
            display: flex;
            background-repeat: no-repeat;
            background-size:cover;
            justify-content: space-between;
            flex-wrap: wrap;
            .ilustracion-home {
                margin-top: 154px;
            }
            h1 {
                font-size: 3rem;
                Color: $BlancoAcento;
                Font-family: "Roboto", sans-serif;
                Font-style: normal;
                Font-size: 3rem;
            }
            .titulo-h1 {
                align-self:center;
                margin-top: 50px;
                margin-left: 30px;
            }
            p {
                font-family: "Roboto", sans-serif;
                font-weight: 300;
                font-style: normal;
                Font-size: 2rem;
                Color: $BlancoAcento;
            }
            .texto-2 {
                align-self:flex-end;
                margin-left: 30px;
            }
        }
        .text-button-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-evenly;
            .text-body {
                color: $Negro;
                font-size: 2rem;
                margin-top: 120px;
                margin-left: 20px;
            }
            .button-demo {
                background-color: $CelestePrimario;
                border: 1px solid $BlancoAcento;
                border-radius: 10px;
                padding: 10px;
                margin-top: 30px;
                margin-left: 20px;
                color: $BlancoAcento;
                font-weight: bolder;
                font-size: 1rem;
                    &:hover {
                    color: $BlancoAcento;
                    background-color: $CelesteSecundario;
                }
            }
        }
        footer {
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            font-style: normal;
            Font-size: 1rem;
            Color: $CelestePrimario;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .footer-content {
                display: flex;
                flex-wrap: wrap;
            }
            .footer-secondary {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
                .isologo-footer {
                    border-radius: 10px;
                    margin-top: 40px;
                    margin-left: 20px;
                }
                .text-footer {
                    color: $CelestePrimario;
                    font-size:medium;
                    margin-top: 60px;
                    padding: 15px;
                }
                .li-content {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: space-between;
                }
                .li-1 {
                    color: $CelestePrimario;
                    font-weight: normal;
                    text-align: center;
                    margin: 3px 20px;
                }
            }
        }
    }
}
