/* ------ GOOGLE FONTS ------ */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* ------ RESET  ------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin mobile {
    @media screen and (min-width: 320px) and (max-width: 767px){
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: 768px) and (max-width: 1023px){
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1024px){
        @content;
    }
}

@import 'colors';
@import 'footer';

%button-ingresar-extend {
        border-radius: 10px;
        padding: 10px;
        margin: 20px;
        border: 1px solid $BlancoAcento;
        color: $BlancoAcento;
        .person {
            margin-right: 8px;
            margin-bottom: 4.5px;
        }
        &:hover{
            background-color: $CelesteSecundario;
        }
}

/* ------ SECTION HOME ------ */
.body-content {
    @include mobile {
        display: block;
        flex-direction: column;
        height: auto;
        margin: auto;
    }
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $CelestePrimario;
    &:hover {
        color: $CelesteSecundario;
    }
    .isologo-home {
        margin-top: 15px;
        border-radius: 10px;
        margin-left: 15px;
        width: 170px;
        align-self:start;
        margin-top: auto;
        
        @include mobile {
            width: 70px;
            margin-left: 10px;
        }

        @include tablet {
            width: 100px;
            margin-left: 10px;
        }
    }
    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items:center;
        margin: 5px;
        margin-left: auto;
    }
    li {
        List-style-type: none;
        font-family: "Roboto", sans-serif;
        font-weight:bold;
        font-style: normal;
        Font-size: 1rem;
    }
    ul li{
        padding: 10px;
    }
    ul li a{
        text-decoration: none;
        color: $BlancoAcento;
    }
    .nav-link {
        color: $BlancoAcento;
        &:hover {
            color: $CelesteSecundario;
        }
    }
    .button-ingresar{
        @extend %button-ingresar-extend;
    }
    @include mobile {
        display: none;
    }
}
.wave-content {
    background-image: url("../assets/background-wave.png");
    height: 510px;
    display: flex;
    background-repeat: no-repeat;
    background-size:cover;
    justify-content: space-between;
    flex-wrap: wrap;

    @include mobile {
        height: 300px;
    }
    .ilustracion-home {
        margin-top: 154px;

        @include mobile {
            display: none;
        }

        @include tablet {
            width: 300px;
            margin-top: 220px;
        }
    }
    text-body {
        @include mobile {
            font-size: 0.7rem;
        }
    }
    h1 {
        font-size: 3rem;
        Color: $BlancoAcento;
        Font-family: "Roboto", sans-serif;
        Font-style: normal;
        font-weight: bolder;

        @include mobile {
            font-size: 1rem;
            padding-left: 10px;
        }

        @include tablet {
            text-align: center;
            font-size: 1.8rem;
        }
    }
    .titulo-h1 {
        align-self:center;
        margin-top: 50px;
        margin-left: 30px;

        @include mobile {
            margin-left: 20px;
        }
    }
    p {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: normal;
        Font-size: 2rem;
        Color: $BlancoAcento;

        @include mobile {
            font-size: 0.7rem;
        }

        @include tablet {
            font-size: 0.9rem;
        }
    }
    .texto-2 {
        align-self:flex-end;
        margin-left: 30px;

        @include mobile {
            padding-left: 0;
            margin-left: 25px
        }

        @include tablet {
            font-size: 1.5rem;
            text-align: center;
        }
    }
}
.text-button-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .text-body {
        color: $Negro;
        font-size: 2rem;
        margin-top: 120px;
        margin-left: 20px;

        @include mobile {
            font-size: 0.5rem;
            padding-left: 3px;
            text-align: justify;
        }
    }
    .button-demo {
        background-color: $CelestePrimario;
        border: 1px solid $BlancoAcento;
        border-radius: 10px;
        padding: 10px;
        margin-top: 30px;
        margin-left: 20px;
        color: $BlancoAcento;
        font-weight: bolder;
        font-size: 1rem;

        @include mobile {
            padding: 3px;
            font-size: 0.5rem;
        }

            &:hover {
            color: $GrisBotones;
            background-color: $CelesteSecundario;
        }
    }
}
.isologo-footer {
    @include mobile {
        width: 60px;
    }
}
.text-footer {
    @include mobile {
        font-size: 0.5rem;
    }
}

/* ------ SECTION PREGUNTAS FRECUENTES ------ */
.nav-faq {
    color: $CelestePrimario;
}
.nav-faq-1 {
    color: $Negro;
    &:hover{
        color: $CelesteSecundario;
    }
}
.main-faq {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .h1-faq {
        font-size: 3rem;
        font-family: "roboto", sans-serif;
        font-style: normal;
        font-weight: bolder;
        color: $Negro;
        margin-top: 100px;
        margin-left: 20px;
    }
    .h2-faq {
        color: $CelestePrimario;
        font-size: 2rem;
        margin-top: 30px;
        margin-left: 20px;
    }
    .ol-content {
        margin-top: 80px;
        margin-bottom: 70px;
        padding: 20px;
        ul {
            font-family: "Roboto", sans-serif;
            font-style:normal;
            Font-size: 1.5rem;
            Color: $Negro;
            padding-left: 0;
            list-style: none;
        }
        li {
            margin-top: 20px;
        }
        .a-2 {
            text-decoration: none;
            color: $Negro;
            font-size: 1.5rem;
            font-weight:normal;
        }
        .plus-circle {
            color: $CelestePrimario;
        }
        .uno {
            color: $CelestePrimario;
        }
    }
    .ilustracion-content {
        display: flex;
        flex-direction: row;
        justify-content: end;
        .ilustracion-faq {
            height: 600px;
            margin-top: 50px;
        }
    }
}

/* ------ SECTION NOSOTROS ------ */
.nav-nosotros {
    color: $Negro;
    &:hover {
        color: $CelesteSecundario;
    }
}
.nav-nosotros-1 {
    color: $CelestePrimario;
}
.main-nosotros {
    display: flex;
    background-size:cover;
    justify-content: space-between;
    flex-wrap: wrap;
    .h1-nosotros {
        font-size: 3rem;
        font-family: "roboto", sans-serif;
        font-style: normal;
        font-weight: bolder;
        color: $Negro;
        margin-top: 100px;
        margin-left: 20px;
    }
    .h2-color {
        color: $CelestePrimario;
        margin-left: 20px;
        padding-top: 30px;
    }
}
.p-nosotros {
    color: $Negro;
    font-size: 1.3rem;
    margin-left: 20px;
    margin-bottom: 50px;
}

/* ------ SECTION CONTACTO ------ */
.navegable{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:none;
    .isologo-blanco {
        margin: 20px;
    }
    .nav-contacto {
        color: $Negro;
        &:hover{
            color: $CelesteSecundario;
        }
    }
    .nav-contacto-1 {
        color: $CelestePrimario;
    }
    .ingresar-cont {
        @extend %button-ingresar-extend;
        border: 1px solid $CelestePrimario;
        color: $CelestePrimario;
    }
}
.main-content {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: space-between;
    .titulo-cont {
        font-size: 3rem;
        font-family: "roboto", sans-serif;
        font-style: normal;
        font-weight: bolder;
        color: $Negro;
        margin-top: 100px;
        margin-left: 20px;
        }
    .motivo {
        font-size: 2rem;
        color: $GrisBotones;
        padding: 20px;
        margin-top: 100px;
    }
    .button-opcion {
        background-color: $Gris2BotonesBorder;
        border: 1px solid $GrisBotones;
        border-radius: 10px;
        padding: 10px 150px;
        color: $GrisBotones;
        font-weight: bolder;
        font-size: 0.8rem;
        margin-left: 20px;
        margin-bottom: 50px;
        &:hover {
            color: $GrisBotonesHover;
        }
    }
    .ilustracion-contacto {
        height: 600px;
    }
}

/* ------ SECTION AYUDA ------ */
.nav-ayuda {
    color: $Negro;
    &:hover {
        color: $CelesteSecundario;
    }
}
.nav-ayuda-1 {
    color: $CelestePrimario;
}
.main-ayuda {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: space-between;
    .h1-ayuda {
        font-size: 3rem;
        font-family: "roboto", sans-serif;
        font-style: normal;
        font-weight: bolder;
        color: $Negro;
        margin-top: 100px;
        margin-left: 20px;
    }
    .h3-buscar {
        color: $GrisBotones;
        margin-bottom: 40px;
        margin-left: 20px;
    }
    .lupa {
        width: 10px;
        height: 10px;
    }
    .ilustracion-ayuda {
        width: 500px;
    }
    .button-opcion-ayuda {
        background-color: $Gris2BotonesBorder;
        border: 1px solid $GrisBotones;
        border-radius: 10px;
        padding: 10px 150px;
        color: $GrisBotones;
        font-weight: bolder;
        font-size: 0.8rem;
        margin-left: 20px;
        margin-bottom: 50px;
        &:hover {
            color: $GrisBotonesHover;
        }
    }
}